*.log
*.aux
LaTeX for Students, Engineers, and Scientists - Session01_Overview.pdf
LaTeX for Students, Engineers, and Scientists - Session02_Installation.pdf
LaTeX for Students, Engineers, and Scientists - Session03_Creating_first_LaTeX_document.pdf
2019_09_20_Final_Article.pdf 
*.gz
*.toc
Document\ Preparation\ using\ LaTeX\ -\ Session04_Sections_ToC.pdf 
LaTeX\ for\ Students\,\ Engineers\,\ and\ Scientists\ -\ Session06_PaperSize_Margin.pdf 
*.lot
*.lof
*.out
*.idx
*.ind
*.ilg
*.bbl
*.blg
*.nav
*.snm
*.backup
